* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 150vh;
    background: linear-gradient(#ffafbd, #ffc3a0);
}

.bxs-heart-square{
    font-size: 30px;
    color: rgb(248, 136, 155);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15vh;
}

#txt{
    background-color: #fff;
    outline: none;
    border: none;
    aspect-ratio: 1;
    padding: 100px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    color: #000;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.ring{
    position: absolute;
    aspect-ratio: 1;
    width: 150px;
    border-radius: 50%;
    animation: ring 1.5s infinite;
    margin-top: -50px;
    visibility: hidden;
    z-index: 9999;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 2px 1px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 2px 1px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 2px 1px #0456cb;
    }
}
.ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    visibility: hidden;
}

span{
    position: absolute;
    color: #737373;
    letter-spacing: 1px;
    line-height: 200px;
    visibility: hidden;
    margin-top: -50px;
    font-size: 12px;

}

.controls button{
    border: none;
    background: none;
    margin: 20px;
    font-size: 30px;
    background: #fff;
    padding: 10px 13px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.controls button:nth-child(2){
    color: rgb(224, 40, 71);
}

footer{
    background-color: #000;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer p{
    font-size: 20px;
    color: #fff;
}
footer i{
    color: #fff;
    margin: 15px 2px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}
footer i:hover{
    color: #ffafbd;
    font-size: 25px;
}

@media screen and (max-width: 480px) {
    #txt{
        padding: 70px;
        font-size: 15px;
    }
    #txt::placeholder{
        font-size: 15px;
        margin-left: 20px;
    }
    .ring{
        position: absolute;
        aspect-ratio: 1;
        width: 80px;
        border-radius: 50%;
        animation: ring 1.5s infinite;
        margin-top: -100px;
    }
    span{
        margin-top: -110px;
        font-size: 10px;
    }
    .controls button{
        margin: 8px 2px;
        font-size: 25px;
    }
}